/*
  1. navigation
  2. home
  3. resume
  4. portfolio
 */

body {
  background-color: #38151C;
  margin: 0 auto;
  padding: 5;
  font-family: 'Hind Guntur', sans-serif;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
}

/* 1. navigation */

.topnav {
  overflow: hidden;
  background-color: #1E0B0F;
  border-color: #665544 #1E0B0F #665544 #1E0B0F;
  border-style: solid;
  border-width: 1px;
}

.topnav a {
  float: left;
  display: block;
  color: #FFF6E1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.active {
  background-color: #622431;
  color: white;
  text-shadow: 1px 2px #000000;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #FFF6E1;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F3F3D5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #311218;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #622431;
  color: #D4B48E;
}

.dropdown-content a:hover {
  background-color: #903648;
  color: #D4B48E;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* end navigation */



/* 2. home */


.logo {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 55px;
  padding-top: 45px;
}

.logo img{
  width: 100%;
  height: auto;
}

.theBiz {
  color: #D4B48E;
  margin-left: 45px;
  text-align: center;

}


#reBorder {
  background-color: #1E0B0F;
  display: flex;
  justify-content: space-around;
  border-color: #665544 #1E0B0F #665544 #1E0B0F;
  border-style: solid;
  border-width: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#reBorder img{
  display: flex;
  margin:15px;
  width: 400%;
  max-width: 12vh;
  }


#homeStreet {
  color: #D4B48E;
  text-decoration: none;
  margin-bottom: 0 auto;
}

#homeStreetIMG {
  color: #D4B48E;
  text-decoration: none;
}

#homeStreetIMG:hover {
  box-shadow: 0 0 2px 1px #D4B48E;

}


#homePort {
  color: #D4B48E;
  text-decoration: none;
  margin-left: 30px;

}

#homePortIMG {
  color: #D4B48E;
  text-decoration: none;

}

#homePortIMG:hover {
  box-shadow: 0 0 2px 1px #D4B48E;

}

#homeITA {
  color: #D4B48E;
  text-decoration: none;
  margin-left: 45px;
}

#homeITAimg {
  color: #D4B48E;
  text-decoration: none;
  margin-left: 70px;
}

#homeITAimg:hover {
   box-shadow: 0 0 2px 1px #D4B48E;
}

/* 3. resume */


































  /* 4. portfolio */


.galNav {
    color: #D4B48E;
    text-align: center;
    text-shadow: 1px 2px #000000;
  }

#portraits {
  color: #D4B48E;
  text-align: center;
  text-shadow: 1px 2px #000000;
}

#italia {
  color: #D4B48E;
  text-align: center;
  text-shadow: 1px 2px #000000;
}

.gallery {
  color: #F3F3D5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.gallery img {
  display: block;
  margin: 0px auto;
  width: 90%;
  max-width: 100vh;
  height: auto;
}

/* vertical gallery */

.galleryVert {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.galleryVert img {
  display: block;
  margin: 0px auto;
  height: 90%;
  max-height: 90vh;
  width: auto;
}

/* odd sizes */

.galleryOdd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galleryOdd img {
  display: block;
  margin: 0px auto;
  height: 90%;
  max-height: 70vh;
  width: auto;
}

.galleryOdd2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galleryOdd2 img {
  display: block;
  margin: 0px auto;
  width: 90%;
  max-width: 90vh;
  height: auto;
}


/* 5. About  */

.aboutText {
  color: #D4B48E;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 300px;
  margin-left: 70px;
  margin-right: 70px;
  text-shadow: 1px 2px #000000;

 }
 .aboutTitle {
   position: relative;

   display: inline-block;
   text-shadow: 1px 2px #000000;
   color: #D4B48E;
   margin-left: 550px;
   margin-right: 70px;

   border: 3px;
   border-style: dotted;
   border-color: blue;
 }

.aboutlogo {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 55px;
  padding-top: 45px;
}

.aboutlogo img{
  width: 100%;
  height: auto;
  filter: blur(50px);
  z-index: 10;
  -webkit-filter: blur(8px);

  border: 3px;
  border-style: dotted;
  border-color: blue;
}







/* old code
FROM HOME SECTION::after
.topbar {
  height: 300px;
  width: 400px;
  background-color: ffffff;
}





.navigation {
  display: flex;
  color: ffffff;
  list-style-type: none;
}

.link {
  border:none;
      width: 510px;
      height:300px;
      color:#D4B48E;
      padding:3px;
      margin-right:4px;
      margin-bottom:8px;
      float:right;
}

.galBar {
  color: #53777A;
  border-width:




/* .galBar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
}




*/











/*
td.description {
  min-width: 450px;
  max-width: 650;
  text-align: left;
  padding: 5px;
  margin: 0;


  .gallery {
    color: #ffffff;
    text-align: center;

}




/* ----- */
